.Navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 4px solid red;
    text-decoration-color: aquamarine;
}

.btn-navbar {
    width: 200px;
    height:auto;
    background-color: red;
    border-radius: 8px;
    border:2px solid black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
  }
  